body {
  background: #666;
  margin-top: 50px;
  font-family: 'Source Code Pro', monospace;
}

#calc-body {
  background: linear-gradient(#fafafa, #ccc);
  width: 375px;
  margin: 0 auto;
  padding: 1.5em;
  display: grid;
  border-radius: 2%;
  box-shadow: 0 0 25px #333;
  border: 1px solid #fafafa;
}

#calc-screen {
  background: #191919;
  padding: 2em;
  color: white;
  border: 2px inset black;
}

#operator-display {
  font-size: 12pt;
  justify-self: start;
  height: 1em;
}

#calc-number-display {
  text-align: right;
  padding: 0;
  font-size: 24pt;
  margin: 0;
}

#keypad {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 35px;
}

#digits {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.5em;
  padding: 0;
}

#operators {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5em;
}

#equals {
  grid-column: 1 / 3;
  background: hsla(190, 80%, 40%, 1)
}

#equals:hover {
  background: hsla(190, 80%, 37%, 1)
}

li {
  list-style: none;
  background: hsla(45, 40%, 50%, 1);
  padding: 1em;
  text-align: center;
  border-radius: 5px;
  color: white;
  font-size: 15pt;
  padding: 0.7em 1.2em;
  margin: 0;
  font-weight: bold;
  width: auto;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  cursor: default;
}

li:hover {
  background: hsla(45, 40%, 47%, 1)
}

li:active {
  box-shadow: 0 0 15px #999;
}

#clear {
  background: hsla(15, 40%, 50%, 1);
}

#clear:hover {
  background: hsla(15, 40%, 47%, 1);
}

#undo {
  background: hsla(65, 80%, 40%, 1)
}

#undo:hover {
  background: hsla(65, 80%, 37%, 1)
}

footer {
  text-align: center;
  color: white;
  font-size: 8pt;
  margin-top: 50px;
}

.spacer {
  opacity: 0;
}

